@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@font-face {
  font-family: Elephant;
  src: url(../font/ELEPHNT.TTF); }

* {
  box-sizing: unset; }

body {
  margin-left: 0%;
  margin-top: 1.25em;
  background-color: #F6E3D3; }

li, button {
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-decoration: none;
  color: #000000; }

ul {
  margin-bottom: 0%;
  margin-top: 0%; }

a {
  text-decoration: none;
  color: #000000; }

h2 {
  font-family: 'Elephant';
  font-style: normal;
  font-weight: 400;
  font-size: 40px; }

h3 {
  font-family: 'Elephant';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
  color: #000000; }

.text--grande {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #000000; }

@media screen and (max-width: 479px) {
  h2 {
    font-size: 30px; }
  .text--grande {
    font-size: 1.1em;
    text-align: center;
    padding-top: 0px;
    margin-top: 0; } }

header {
  width: 85%;
  height: 4em;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  justify-content: flex-end;
  position: fixed;
  z-index: 10;
  background-color: #F6E3D3;
  top: 0px;
  padding-top: 1.25em;
  padding-left: 7em;
  padding-right: 7em; }
  header .logo {
    margin-right: auto;
    display: inline-block; }
  header .menu {
    list-style: none;
    display: inline-block;
    color: #000000;
    background-color: #F6E3D3; }
    header .menu .menu__lista {
      display: inline-flex; }
      header .menu .menu__lista li {
        display: inline-block;
        padding: 0px 20px;
        background-color: #F6E3D3; }
        header .menu .menu__lista li a {
          transition: all 0.3s ease 0s; }
        header .menu .menu__lista li .menu__item {
          font-family: "Almarai", sans-serif;
          font-weight: 300;
          font-size: 1em;
          text-decoration: none;
          color: #000000; }
  header .menu__cta {
    padding: 9px 25px;
    background-color: #F36A46;
    border: none;
    border-radius: 0.7em;
    font-weight: 400;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: #F6E3D3; }
    header .menu__cta .menu__cta:hover {
      background-color: #e16141; }
  header .menu__hambur {
    display: none; }
    header .menu__hambur .dropdown-menu.show {
      padding: 1em;
      background-color: #f5e7dc;
      border-color: none; }
      header .menu__hambur .dropdown-menu.show .menu__item {
        font-family: "Almarai", sans-serif;
        font-weight: 300;
        font-size: 1em;
        text-decoration: none;
        color: #000000; }

/*@media screen and (max-width: 479px){
    header{
        width: 84%;
        height: 2em;
        display: flex;
        align-items: center;
        margin-bottom: 2em;
        justify-content:flex-end;
        position: fixed;
        z-index: 10;
        background-color: #F6E3D3;
        top: 0px;
        padding: 1.7em 2em 1.7em;
    }
    .menu{
        display: none;
        .menu__item{
            display: none;
        }
    } 
    .menu__cta{
        display: none;
    }
    .menu__hambur{
        display: flex;
    }
}*/
.footer {
  margin-top: 4em;
  padding: 1.75em 7em;
  background-color: #F36A46;
  color: #F6E3D3; }
  .footer .footer__text {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    margin-top: 1.5em;
    color: #F6E3D3;
    text-decoration: none;
    width: 60%;
    display: grid;
    grid-template-areas: "ia iia iiia" "ib iib iiib" ". iic iiic";
    grid-column: auto auto auto;
    grid-row: auto auto auto;
    list-style: none; }
    .footer .footer__text ul li a {
      color: #F6E3D3; }
      .footer .footer__text ul li a .ia {
        grid-area: ia;
        color: #F6E3D3; }
      .footer .footer__text ul li a .ib {
        grid-area: ib;
        color: #F6E3D3; }
      .footer .footer__text ul li a .iia {
        grid-area: iia;
        color: #F6E3D3; }
      .footer .footer__text ul li a .iib {
        grid-area: iib;
        color: #F6E3D3; }
      .footer .footer__text ul li a .iic {
        grid-area: iic;
        color: #F6E3D3; }
      .footer .footer__text ul li a .iiia {
        grid-area: iiia;
        color: #F6E3D3; }
      .footer .footer__text ul li a .iiib {
        grid-area: iiib;
        color: #F6E3D3; }
      .footer .footer__text ul li a .iiic {
        grid-area: iiic;
        color: #F6E3D3; }

.colecciones--nav {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3em;
  margin-top: 5em;
  width: 100%;
  text-align: center; }
  .colecciones--nav .colecciones__ficcion, .colecciones--nav .colecciones__feminismo, .colecciones--nav .colecciones__nacional {
    padding: 2.5em;
    color: #000000;
    text-decoration: none; }
    .colecciones--nav .colecciones__ficcion .colecciones__ficcion:hover, .colecciones--nav .colecciones__ficcion .colecciones__feminismo:hover, .colecciones--nav .colecciones__ficcion .colecciones__nacional:hover, .colecciones--nav .colecciones__feminismo .colecciones__ficcion:hover, .colecciones--nav .colecciones__feminismo .colecciones__feminismo:hover, .colecciones--nav .colecciones__feminismo .colecciones__nacional:hover, .colecciones--nav .colecciones__nacional .colecciones__ficcion:hover, .colecciones--nav .colecciones__nacional .colecciones__feminismo:hover, .colecciones--nav .colecciones__nacional .colecciones__nacional:hover {
      padding: 2.5em;
      color: #F36A46;
      text-decoration: underline solid #F36A46 3px;
      font-weight: 700; }

.landing {
  margin-left: 7em;
  margin-top: 8em;
  display: grid;
  grid-template-areas: "img titulo" "img texto" "img botones";
  grid-template-columns: 42% 42%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 3em; }
  .landing .landing__photo {
    width: 100%;
    grid-area: img; }
  .landing .landing__title {
    grid-area: titulo;
    margin-top: 1em; }
  .landing .landing__texto {
    grid-area: texto; }
  .landing .landing__buttons {
    grid-area: botones;
    display: inline-block; }
    .landing .landing__buttons .boton--principal {
      padding: 16px 40px;
      background-color: #F36A46;
      border: none;
      border-radius: 0.7em;
      font-weight: 400;
      transition: all 0.3s ease 0s;
      cursor: pointer;
      color: #F6E3D3; }
      .landing .landing__buttons .boton--principal .boton--principal:hove {
        background-color: #e16141; }
    .landing .landing__buttons .landing__planes {
      padding: 16px 40px;
      background-color: transparent;
      box-sizing: border-box;
      border: 0.1em solid #F36A46;
      border-radius: 0.7em;
      font-weight: 400;
      transition: all 0.3s ease 0s;
      margin-left: 1em;
      cursor: pointer;
      margin-left: 1em;
      color: #F36A46; }
      .landing .landing__buttons .landing__planes .landing__planes:hover {
        border: 0.1em solid #e16141;
        color: #e16141; }

.colecciones {
  margin-top: 2em;
  padding: 3em 7em; }
  .colecciones h3 {
    text-align: center; }
  .colecciones .colecciones__cards {
    column-gap: 1.5em; }
    .colecciones .colecciones__cards .colecciones__1, .colecciones .colecciones__cards .colecciones__2, .colecciones .colecciones__cards .colecciones__3 {
      display: inline-block;
      background-color: #f5e7dc;
      width: 22%;
      padding: 2.5em;
      margin: 1em;
      box-shadow: 6px 9px 11px rgba(0, 0, 0, 0.12);
      border-radius: 13px;
      height: auto; }
      .colecciones .colecciones__cards .colecciones__1 a .colecciones__card--titulo, .colecciones .colecciones__cards .colecciones__2 a .colecciones__card--titulo, .colecciones .colecciones__cards .colecciones__3 a .colecciones__card--titulo {
        text-align: center;
        color: #000000;
        text-decoration: none;
        font-family: 'Elephant';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5em;
        line-height: 29px;
        margin-bottom: 1rem; }
        .colecciones .colecciones__cards .colecciones__1 a .colecciones__card--titulo .colecciones__card--titulo:hover, .colecciones .colecciones__cards .colecciones__2 a .colecciones__card--titulo .colecciones__card--titulo:hover, .colecciones .colecciones__cards .colecciones__3 a .colecciones__card--titulo .colecciones__card--titulo:hover {
          text-decoration: none;
          color: #000000; }
      .colecciones .colecciones__cards .colecciones__1 a a:hover, .colecciones .colecciones__cards .colecciones__2 a a:hover, .colecciones .colecciones__cards .colecciones__3 a a:hover {
        text-decoration: none;
        color: #000000; }
      .colecciones .colecciones__cards .colecciones__1 ul, .colecciones .colecciones__cards .colecciones__2 ul, .colecciones .colecciones__cards .colecciones__3 ul {
        padding-top: 1rem;
        margin-top: 1rem;
        text-decoration: none;
        color: #000000; }
        .colecciones .colecciones__cards .colecciones__1 ul .colecciones__texto, .colecciones .colecciones__cards .colecciones__2 ul .colecciones__texto, .colecciones .colecciones__cards .colecciones__3 ul .colecciones__texto {
          font-size: 1em;
          padding: 1.5rem 0px 0px; }
      .colecciones .colecciones__cards .colecciones__1 .colecciones__cta, .colecciones .colecciones__cards .colecciones__2 .colecciones__cta, .colecciones .colecciones__cards .colecciones__3 .colecciones__cta {
        margin-top: 2rem;
        margin-left: 25%;
        padding: 9px 25px;
        background-color: transparent;
        border: 2px solid #F36A46;
        border-radius: 0.7em;
        font-weight: 400;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        color: #F36A46; }
        .colecciones .colecciones__cards .colecciones__1 .colecciones__cta .colecciones__cta:hover, .colecciones .colecciones__cards .colecciones__2 .colecciones__cta .colecciones__cta:hover, .colecciones .colecciones__cards .colecciones__3 .colecciones__cta .colecciones__cta:hover {
          border: 2px solid #e16141;
          color: #e16141; }

.experiencia {
  align-items: center;
  width: 80%;
  display: grid;
  grid-template-areas: ". img" "titulo img" "texto img" ". img";
  grid-template-rows: 7rem auto auto auto;
  grid-column-gap: 3em; }
  .experiencia h2 .experiencia__titulo {
    margin: 0px 0px 4rem;
    grid-area: titulo;
    display: inline-block; }
  .experiencia .experiencia__texto {
    margin: auto 0px;
    padding-right: 3em;
    display: inline-block;
    grid-area: texto; }
  .experiencia .experiencia__photo {
    width: 100%;
    display: inline-block;
    grid-area: img; }

/*----------PLAN----------*/
.plan {
  padding-left: 7em;
  padding-right: 7em;
  background-color: #F36A46;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 5em;
  text-align: center; }
  .plan .plan__titulo {
    color: #F6E3D3;
    font-size: 34px;
    margin-bottom: 1em; }
  .plan .plan__text {
    width: 70%;
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    color: #F6E3D3;
    margin: 0 auto 2em; }
  .plan .plan__test {
    padding: 9px 25px;
    background-color: transparent;
    box-sizing: border-box;
    border: 0.1em solid #F6E3D3;
    border-radius: 0.7em;
    font-weight: 400;
    transition: all 0.3s ease 0s;
    margin-left: 1em;
    cursor: pointer;
    color: #F6E3D3; }
    .plan .plan__test .plan__test:hover {
      border: 0.1em solid #F36A46;
      background-color: #F6E3D3;
      color: #F36A46; }

/*----------REGALA----------*/
.regala {
  margin-left: 7em;
  margin-top: 4em;
  display: grid;
  grid-template-areas: "img titulo" "img texto" "img botones";
  grid-template-columns: 42% 42%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 3em; }
  .regala .regala__titulo {
    grid-area: titulo;
    margin: auto 0px;
    display: inline-block; }
  .regala .regala__texto {
    grid-area: texto;
    margin: auto 0px;
    display: inline-block; }
  .regala .regala__cta {
    padding: 9px 25px;
    background-color: #F36A46;
    border: none;
    border-radius: 0.7em;
    font-weight: 400;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: #F6E3D3;
    grid-area: botones;
    margin: auto 0px;
    display: inline-block; }
  .regala .regala__photo {
    width: 100%;
    display: inline-block;
    grid-area: img; }
    .regala .regala__photo .regala__cta:hover {
      background-color: #e16141; }

.funcion {
  margin-left: 7em;
  margin-top: 8em;
  display: grid;
  grid-template-areas: "img ." "img titulo" "img texto" "img .";
  grid-template-columns: 42% 42%;
  grid-template-rows: 5rem 1fr 1fr 1fr;
  grid-column-gap: 3em; }
  .funcion .funcion__photo {
    width: auto;
    height: 30rem;
    padding-left: 15%;
    grid-area: img; }
  .funcion .funcion__titulo {
    grid-area: titulo;
    margin-top: 1em; }
  .funcion .funcion__texto {
    grid-area: texto; }

.experiencia {
  width: 80%;
  align-content: center;
  margin: 5rem auto 0px;
  display: grid;
  grid-template-areas: ". img" "titulo img" "texto img" ". img";
  grid-template-columns: 47% 47%;
  grid-template-rows: 1fr auto auto 1fr;
  grid-column-gap: 2em;
  justify-content: space-between; }
  .experiencia .experiencia__photo {
    width: 100%;
    display: inline-block;
    grid-area: img; }
  .experiencia .experiencia__titulo {
    margin: auto 0px 2rem;
    padding-right: 3em;
    display: inline-block;
    grid-area: titulo; }
  .experiencia .experiencia__texto {
    margin: auto 0px;
    padding-right: 3em;
    display: inline-block;
    grid-area: texto; }

.regalos {
  align-items: center;
  margin-top: 6em;
  padding-left: 7em;
  padding-right: 7em;
  display: grid;
  grid-template-areas: "img ." "img titulo" "img texto" "img .";
  grid-template-columns: 45% 42%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5em; }
  .regalos .regalos__photo {
    width: 100%;
    display: inline-block;
    grid-area: img; }
  .regalos .regalos__titulo {
    grid-area: titulo; }
  .regalos .regalos__text {
    margin: auto 0px;
    display: inline-block;
    color: #000000;
    grid-area: texto; }

.artistas {
  margin-top: 5em;
  padding-left: 7em;
  padding-right: 6em;
  background-color: #F36A46;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /*.artistas__cards{
        display: inline;
        .artistas__card1, .artistas__card2, .artistas__card3{
            display: inline-block;
            background-color: #F6E3D3;
            width: 24%;
            padding: 1.5em;
            margin: 1em;
            border-radius: 13px;
            .artistas__img{
                width: 100%;
                margin-bottom: 1em;
            }
            .artistas__card--titulo{
                font-family: 'Elephant';
                font-style: normal;
                font-weight: 400;
                font-size: 1.5em;
                line-height: 29px;
                color: #000000;
            }
            .artistas__card--text{
                margin-top: 0.5em;
                display: block;
                font-family: 'Almarai';
                font-style: normal;
                font-weight: 300;
                font-size: 1em;
                color: #000000;
            }
        } 
    }*/ }
  .artistas .artistas__titulo {
    color: #F6E3D3;
    font-size: 34px;
    text-align: center; }
  .artistas .artistas__text {
    width: 70%;
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    color: #F6E3D3;
    margin: 0 auto 2em;
    text-align: center; }
  .artistas .artistas__contenedor .artistas__button .prev {
    text-decoration: none;
    background-color: transparent;
    border: none;
    display: inline-block; }
  .artistas .artistas__contenedor .artistas__cards {
    display: inline; }
    .artistas .artistas__contenedor .artistas__cards .artistas__card {
      display: inline-block;
      background-color: #F6E3D3;
      width: 24%;
      padding: 1.5em;
      margin: 1em;
      border-radius: 13px; }
      .artistas .artistas__contenedor .artistas__cards .artistas__card .artistas__img {
        width: 100%;
        margin-bottom: 1em; }
      .artistas .artistas__contenedor .artistas__cards .artistas__card .artistas__card--titulo {
        font-family: 'Elephant';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5em;
        line-height: 29px;
        color: #000000; }
      .artistas .artistas__contenedor .artistas__cards .artistas__card .artistas__card--text {
        margin-top: 0.5em;
        display: block;
        font-family: 'Almarai';
        font-style: normal;
        font-weight: 300;
        font-size: 1em;
        color: #000000; }
  .artistas .artistas__contenedor .artistas__button .next {
    text-decoration: none;
    background-color: transparent;
    border: none;
    display: inline-block; }

.introc {
  padding-left: 7em;
  margin-top: 4em;
  padding-right: 7em;
  text-align: center; }

.puntos {
  align-items: center;
  width: 80%;
  display: grid;
  grid-template-areas: "img ." "img lista" "img .";
  margin: 5rem auto 0;
  column-gap: 3rem; }
  .puntos .puntos__photo {
    display: inline-block;
    grid-area: img;
    height: 90%; }
  .puntos .puntos__importantes {
    grid-area: lista; }
    .puntos .puntos__importantes .puntos__lista {
      margin: auto 0px;
      display: inline-block;
      grid-area: lista;
      list-style-image: url(../img/ICONO--GRANDE.png); }
      .puntos .puntos__importantes .puntos__lista .puntos__lista2 {
        margin: 0 0 1.7em; }
        .puntos .puntos__importantes .puntos__lista .puntos__lista2 .puntos__item {
          font-family: 'Elephant';
          font-style: normal;
          font-weight: 400;
          font-size: 1.6em;
          color: #000000;
          padding-bottom: 1em; }

.form {
  margin: 5rem auto 0px;
  align-content: center;
  width: 84%;
  display: grid;
  grid-template-areas: ". listado" "titulo listado" "texto listado" ". listado";
  grid-template-columns: 42% 42%;
  grid-template-rows: 1fr auto auto 1fr;
  column-gap: 5rem;
  justify-content: space-around; }
  .form .form__titulo {
    grid-area: titulo;
    margin-bottom: 1.5rem; }
  .form .form__texto {
    grid-area: texto; }
  .form .form__box {
    display: inline-block;
    background-color: #f5e7dc;
    border-radius: 13px;
    box-shadow: 6px 9px 11px rgba(0, 0, 0, 0.12);
    padding: 1.5em;
    grid-area: listado; }
    .form .form__box .form__list {
      padding-bottom: 1em;
      list-style-image: url("../img/ICONO--MEDIO.png"); }
      .form .form__box .form__list .form__list2 {
        margin: 0 0 1.7em; }
        .form .form__box .form__list .form__list2 .form__item {
          font-family: 'Almarai';
          font-style: normal;
          font-weight: 300;
          font-size: 1.2;
          color: #000000; }
    .form .form__box .form__buttons {
      bottom: 40%;
      text-align: center; }
      .form .form__box .form__buttons .form__cta {
        padding: 9px 25px;
        background-color: #F36A46;
        border: none;
        border-radius: 0.7em;
        font-weight: 400;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        color: #F6E3D3; }

.plan {
  padding-left: 7em;
  padding-right: 7em;
  background-color: #F36A46;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 5em;
  text-align: center; }
  .plan .plan__titulo {
    color: #F6E3D3;
    font-size: 34px; }
  .plan .plan__text {
    width: 70%;
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    color: #F6E3D3;
    margin: 0 auto 2em; }
  .plan .plan__test {
    padding: 9px 25px;
    background-color: transparent;
    box-sizing: border-box;
    border: 0.1em solid #F6E3D3;
    border-radius: 0.7em;
    font-weight: 400;
    transition: all 0.3s ease 0s;
    margin-left: 1em;
    cursor: pointer;
    color: #F6E3D3; }
    .plan .plan__test .plan__test:hover {
      border: 0.1em solid #F36A46;
      background-color: #F6E3D3;
      color: #F36A46; }

.boxan {
  margin-top: 1em;
  padding-left: 7em;
  padding-right: 7em;
  background-color: #F6E3D3;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .boxan .boxant__titulo {
    text-align: center; }
  .boxan .boxan__card1, .boxan .boxan__card2, .boxan .boxan__card3 {
    display: inline-block;
    background-color: #f5e7dc;
    width: 24%;
    padding: 1.5em;
    margin: 1em;
    border-radius: 13px;
    box-shadow: 6px 9px 11px rgba(0, 0, 0, 0.12); }
    .boxan .boxan__card1 .boxan__img, .boxan .boxan__card2 .boxan__img, .boxan .boxan__card3 .boxan__img {
      width: 100%;
      margin-bottom: 1em; }
    .boxan .boxan__card1 .boxan__card--titulo, .boxan .boxan__card2 .boxan__card--titulo, .boxan .boxan__card3 .boxan__card--titulo {
      font-family: 'Elephant';
      font-style: normal;
      font-weight: 400;
      font-size: 1.4em;
      line-height: 29px;
      color: #000000; }
    .boxan .boxan__card1 .boxan__card--text, .boxan .boxan__card2 .boxan__card--text, .boxan .boxan__card3 .boxan__card--text {
      margin-top: 0.5em;
      display: block;
      font-family: 'Almarai';
      font-style: normal;
      font-weight: 300;
      font-size: 1em;
      color: #000000; }

.boxficcion {
  align-items: center;
  width: 80%;
  margin: 2rem auto 0px;
  display: grid;
  grid-template-areas: "img ." "img mes" "img titulo" "img texto" "img .";
  column-gap: 3rem; }
  .boxficcion .boxficcion__photo {
    display: inline-block;
    grid-area: img;
    height: 90%; }
  .boxficcion .boxficcion__mes {
    color: #F36A46;
    text-decoration: overline solid #F36A46 3px;
    font-family: 'Elephant';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    grid-area: mes; }
  .boxficcion .boxficcion__titulo {
    grid-area: titulo; }
  .boxficcion .boxficcion__texto {
    grid-area: texto; }

.suscripcion {
  padding-left: 7em;
  padding-right: 7em;
  background-color: #F36A46;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 5em;
  text-align: center; }
  .suscripcion .suscripcion__titulo {
    color: #F6E3D3;
    font-size: 34px; }
  .suscripcion .suscripcion__text {
    width: 70%;
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    color: #F6E3D3;
    margin: 0 auto 2em; }
  .suscripcion .suscripcion__sus {
    padding: 9px 25px;
    background-color: transparent;
    box-sizing: border-box;
    border: 0.1em solid #F6E3D3;
    border-radius: 0.7em;
    font-weight: 400;
    transition: all 0.3s ease 0s;
    margin-left: 1em;
    cursor: pointer;
    color: #F6E3D3; }
    .suscripcion .suscripcion__sus .suscripcion__sus:hover {
      border: 0.1em solid #F36A46;
      background-color: #F6E3D3;
      color: #F36A46; }

.boxficcion2 {
  align-items: center;
  width: 80%;
  margin: 2rem auto 0px;
  display: grid;
  grid-template-areas: ". img" "mes img" "titulo img" "texto img" ". img";
  column-gap: 3rem; }
  .boxficcion2 .boxficcion__photo {
    display: inline-block;
    grid-area: img;
    height: 90%; }
  .boxficcion2 .boxficcion__mes {
    color: #F36A46;
    text-decoration: overline solid #F36A46 3px;
    font-family: 'Elephant';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    grid-area: mes; }
  .boxficcion2 .boxficcion__titulo {
    grid-area: titulo; }
  .boxficcion2 .boxficcion__texto {
    grid-area: texto; }

.boxficcion3 {
  align-items: center;
  width: 80%;
  margin: 2rem auto 0px;
  display: grid;
  grid-template-areas: "img ." "img mes" "img titulo" "img texto" "img .";
  column-gap: 3rem; }
  .boxficcion3 .boxficcion__photo {
    display: inline-block;
    grid-area: img;
    height: 90%; }
  .boxficcion3 .boxficcion__mes {
    color: #F36A46;
    text-decoration: overline solid #F36A46 3px;
    font-family: 'Elephant';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    grid-area: mes; }
  .boxficcion3 .boxficcion__titulo {
    grid-area: titulo; }
  .boxficcion3 .boxficcion__texto {
    grid-area: texto; }

.intror {
  padding-left: 7em;
  margin-top: 9em;
  padding-right: 7em;
  text-align: center; }

.regbox {
  align-items: center;
  width: 80%;
  margin: 5rem auto 0px;
  display: grid;
  grid-template-areas: "img ." "img titulo" "img texto" "img boton" "img .";
  column-gap: 3rem; }
  .regbox .regbox__photo {
    display: inline-block;
    grid-area: img; }
  .regbox .regbox__titulo {
    grid-area: titulo;
    margin-bottom: 1rem; }
  .regbox .regbox__texto {
    grid-area: texto;
    margin-bottom: 2rem; }
  .regbox .regbox__buttons {
    grid-area: boton; }
    .regbox .regbox__buttons .landing__cta {
      padding: 9px 25px;
      background-color: #F36A46;
      border: none;
      border-radius: 0.7em;
      font-weight: 400;
      transition: all 0.3s ease 0s;
      cursor: pointer;
      color: #F6E3D3; }

.reggift {
  align-items: center;
  width: 80%;
  display: grid;
  grid-template-areas: ". img" "titulo img" "texto img" "boton img" ".img";
  grid-column-gap: 3em;
  margin-top: 5rem;
  margin: 5rem auto 0px; }
  .reggift .reggift__titulo {
    grid-area: titulo;
    margin-bottom: 1rem; }
  .reggift .reggift__texto {
    display: inline-block;
    grid-area: texto;
    margin-bottom: 2rem; }
  .reggift .reggift__buttons {
    display: inline-block;
    grid-area: boton; }
    .reggift .reggift__buttons .reggift__cta {
      padding: 9px 25px;
      background-color: #F36A46;
      border: none;
      border-radius: 0.7em;
      font-weight: 400;
      transition: all 0.3s ease 0s;
      cursor: pointer;
      color: #F6E3D3; }
      .reggift .reggift__buttons .reggift__cta .reggift__cta:hover {
        background-color: #e16141; }
  .reggift .reggift__photo {
    grid-area: img;
    height: 70%; }

@media screen and (max-width: 576px) {
  h2 {
    font-size: 30px; }
  /*---HEADER---*/
  header {
    width: 84%;
    height: 2em;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    justify-content: flex-end;
    position: fixed;
    z-index: 10;
    background-color: #F6E3D3;
    top: 0px;
    padding: 1.7em 2em 1.7em; }
  .menu {
    display: none; }
    .menu .menu__item {
      display: none; }
  .menu__cta {
    display: none; }
  .menu__hambur {
    display: flex !important; }
  /*---HOME (LANDING)---*/
  .landing {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 5em;
    display: grid;
    grid-template-areas: "titulo" "texto" "botones" "img";
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 2em;
    row-gap: 1em;
    text-align: center; }
    .landing .landing__title {
      margin-bottom: 0;
      text-align: center; }
    .landing .landing__buttons {
      margin: 0 auto;
      text-align: center; }
  /*---HOME (COLECCIONES)---*/
  .colecciones {
    margin: 2em auto 0px;
    padding: 0px 0px;
    align-items: center; }
    .colecciones .colecciones__cards .colecciones__1, .colecciones .colecciones__cards .colecciones__2, .colecciones .colecciones__cards .colecciones__3 {
      background-color: #f5e7dc;
      box-shadow: 6px 9px 11px rgba(0, 0, 0, 0.12);
      border-radius: 13px;
      height: auto;
      padding: 2rem;
      width: 75%; }
      .colecciones .colecciones__cards .colecciones__1 .colecciones__card--titulo, .colecciones .colecciones__cards .colecciones__2 .colecciones__card--titulo, .colecciones .colecciones__cards .colecciones__3 .colecciones__card--titulo {
        font-family: 'Elephant';
        font-style: normal;
        font-weight: 400;
        font-size: 1.3em;
        color: #000000;
        text-decoration: none; }
      .colecciones .colecciones__cards .colecciones__1 .colecciones__informacion, .colecciones .colecciones__cards .colecciones__2 .colecciones__informacion, .colecciones .colecciones__cards .colecciones__3 .colecciones__informacion {
        margin-top: 0.5rem; }
      .colecciones .colecciones__cards .colecciones__1 .colecciones__cta, .colecciones .colecciones__cards .colecciones__2 .colecciones__cta, .colecciones .colecciones__cards .colecciones__3 .colecciones__cta {
        margin: 2rem 32% 0px;
        align-items: center; }
  /*---HOME (EXPERIENCIA)---*/
  .experiencia {
    display: grid;
    grid-template-areas: "titulo" "texto" "img";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 2em; }
    .experiencia .experiencia__photo {
      width: 100%;
      box-sizing: border-box; }
    .experiencia .experiencia__titulo {
      text-align: center;
      padding-right: 0%; }
    .experiencia .experiencia__texto {
      margin: auto 0px;
      width: auto;
      padding-right: 0%;
      text-align: center; }
  /*---HOME (PLAN IDEAL)---*/
  .plan {
    padding: 2em 2em; }
    .plan .plan__text {
      width: 100%; }
    .plan .plan__titulo {
      font-size: 30px; }
  /*---HOME (REGALOS)---*/
  .regala {
    margin: 3em 2em;
    display: grid;
    grid-template-areas: "titulo" "texto" "botones" "img";
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    row-gap: 2em;
    text-align: center; }
  /*---REGALA (INTRO)---*/
  .intror {
    margin: 7rem auto 0px;
    width: 84%;
    text-align: center;
    padding: 0%; }
  /*---REGALA (REGBOX)---*/
  .regbox {
    align-items: center;
    width: 80%;
    margin: 5rem auto 0px;
    display: grid;
    grid-template-areas: "titulo" "texto" "boton" "img";
    text-align: center; }
    .regbox .regbox__buttons {
      margin-bottom: 2rem; }
    .regbox .regbox__photo {
      height: 75%;
      width: auto; }
  /*---REGALA (REGGIFT)---*/
  .reggift {
    align-items: center;
    width: 80%;
    display: grid;
    grid-template-areas: "titulo" "texto" "boton" "img";
    margin: 5rem auto 0px;
    text-align: center; }
    .reggift .reggift__photo {
      height: 57%; }
  /*---FUNCIONAMIENTO (FUNCION)---*/
  .funcion {
    margin: 7rem auto 0px;
    width: 80%;
    display: grid;
    grid-template-areas: "titulo" "texto" "img ";
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr;
    align-items: center;
    text-align: center; }
    .funcion .funcion__photo {
      width: auto;
      height: 30rem;
      grid-area: img;
      margin-bottom: 2rem; }
  /*---FUNCIONAMIENTO (REGALOS)---*/
  .regalos {
    align-items: center;
    width: 80%;
    margin: 4rem auto 0%;
    padding: 0%;
    display: grid;
    grid-template-areas: "titulo" "texto" "img";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    text-align: center; }
    .regalos .regalos__text {
      margin-bottom: 2rem; }
  /*---FUNCIONAMIENTO (ARTISTAS)---*/
  .artistas {
    align-items: center;
    margin: 5em auto 0%;
    background-color: #F36A46;
    width: 100%;
    padding: 2rem 0%; }
    .artistas .artistas__texto {
      width: 84%;
      margin: 3rem auto; }
    .artistas .artistas__contenedor {
      width: 84%;
      margin: 3rem auto; }
    .artistas .artistas__card {
      width: 84%; }
  /*---COLECCIONES (INTRO)---*/
  .introc {
    margin: 7rem auto 0px;
    width: 84%;
    text-align: center;
    padding: 0%; }
  /*---COLECCIONES (LISTADO)---*/
  .puntos {
    align-items: center;
    width: 84%;
    display: grid;
    grid-template-areas: "img" "lista";
    margin: 5rem auto 0; }
    .puntos .puntos__photo {
      display: inline-block;
      grid-area: img;
      height: 73%; }
    .puntos .puntos__importantes .puntos__lista .puntos__lista2 .puntos__item {
      font-size: 1.2em; }
  /*---COLECCIONES (FORM)---*/
  .form {
    margin: 5rem auto 0px;
    align-content: center;
    width: 84%;
    display: grid;
    grid-template-areas: "titulo" "texto" "listado";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto; }
    .form .form__titulo {
      grid-area: titulo;
      margin-bottom: 1.5rem;
      text-align: center; }
    .form .form__texto {
      text-align: center; }
  /*---COLECCIONES (box anterior)---*/
  /*---BOXAN (mes 1)---*/
  .boxficcion, .boxficcion2, .boxficcion3 {
    align-items: center;
    width: 80%;
    margin: 5rem auto 0px;
    display: grid;
    grid-template-areas: "mes" "titulo" "texto" "img";
    text-align: center; }
    .boxficcion .boxficcion__titulo, .boxficcion2 .boxficcion__titulo, .boxficcion3 .boxficcion__titulo {
      grid-area: titulo;
      margin-bottom: 1rem; }
    .boxficcion .boxficcion__photo, .boxficcion2 .boxficcion__photo, .boxficcion3 .boxficcion__photo {
      height: 75%; }
  /*---BOXAN (suscripcion)---*/
  .suscripcion {
    padding: 2rem 0%;
    background-color: #F36A46;
    margin: 5em auto 2em;
    width: 100%;
    text-align: center; }
    .suscripcion .suscripcion__titulo {
      font-size: 30px; }
    .suscripcion .suscripcion__text {
      width: 70%;
      font-family: 'Almarai';
      font-style: normal;
      font-weight: 300;
      font-size: 1.2em;
      color: #F6E3D3;
      margin: 0 auto 2em; }
  /*---NAV-COLECCIONES---*/
  .colecciones--nav {
    font-size: 1.1em;
    text-align: center; }
    .colecciones--nav .colecciones__ficcion, .colecciones--nav .colecciones__feminismo, .colecciones--nav .colecciones__nacional {
      padding: 1.5em; }
      .colecciones--nav .colecciones__ficcion .colecciones__ficcion:hover, .colecciones--nav .colecciones__ficcion .colecciones__feminismo:hover, .colecciones--nav .colecciones__ficcion .colecciones__nacional:hover, .colecciones--nav .colecciones__feminismo .colecciones__ficcion:hover, .colecciones--nav .colecciones__feminismo .colecciones__feminismo:hover, .colecciones--nav .colecciones__feminismo .colecciones__nacional:hover, .colecciones--nav .colecciones__nacional .colecciones__ficcion:hover, .colecciones--nav .colecciones__nacional .colecciones__feminismo:hover, .colecciones--nav .colecciones__nacional .colecciones__nacional:hover {
        padding: 1.5em; }
  /*---FOOTER---*/
  .footer {
    display: grid;
    margin-top: 4em;
    padding: 1em 2em;
    background-color: #F36A46;
    grid-template-areas: "ia ic" "iia iic" "ib iiic" "iib iiib"; } }
