header{
    width: 85%;
    height: 4em;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    justify-content:flex-end;
    position: fixed;
    z-index: 10;
    background-color: $fondo;
    top: 0px;
    padding-top: 1.25em;
    padding-left: 7em;
    padding-right: 7em;
    .logo{
        margin-right: auto;
        display: inline-block;
    }
    .menu{
        list-style: none;
        display: inline-block;
        color: #000000;
        background-color: $fondo;
        .menu__item{
            font-family: "Almarai", sans-serif;
            font-weight: 300;
            font-size: 1em;
            text-decoration: none;
            color: #000000;
        }
        .menu li{
            display: inline-block;
            padding: 0px 20px;
            background-color: $fondo;
        }
        .menu li a {
            transition: all 0.3s ease 0s;
        }
    }
    .menu__cta{
        padding: 9px 25px;
        background-color: $naranja;
        border: none;
        border-radius: 0.7em;
        font-weight: 400;
        transition: all 0.3s ease 0s;
        margin-left: 1em;
        cursor: pointer;
        color: $fondo;
        &:hover{
            background-color: #e16141;
        }
    }
}