.colecciones--nav{
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3em;
    margin-top: 5em;
    width: 100%;
    text-align: center;
    .colecciones__ficcion, .colecciones__feminismo, .colecciones__nacional{
        padding: 2.5em;
        color: #000000;
        text-decoration: none;
        .colecciones__ficcion:hover, .colecciones__feminismo:hover, .colecciones__nacional:hover{
            padding: 2.5em;
            color: $naranja;
            text-decoration: underline solid $naranja 3px;
            font-weight: 700;
        }
    }
}

