.boxficcion{
    align-items: center;
    width: 80%;
    margin: 2rem auto 0px;
    display: grid;
    grid-template-areas:
        "img ."
        "img mes"
        "img titulo"
        "img texto"
        "img .";
    column-gap: 3rem;
    .boxficcion__photo{
        display: inline-block;
        grid-area: img;
        height: 90%;
    }
    .boxficcion__mes{
        color: #F36A46;
        text-decoration: overline solid #F36A46 3px;
        font-family: 'Elephant';
        font-style: normal;
        font-weight: 400;
        font-size: 1.4em;
        grid-area: mes;
    }
     .boxficcion__titulo{
        grid-area: titulo;
     }
     .boxficcion__texto{
        grid-area: texto;
    }
}

.suscripcion{
    padding-left: 7em;
    padding-right: 7em;
    background-color: #F36A46;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 5em;
    text-align: center;
    .suscripcion__titulo{
        color: #F6E3D3;
        font-size: 34px;
    }
    .suscripcion__text{
        width: 70%;
        font-family: 'Almarai';
        font-style: normal;
        font-weight: 300;
        font-size: 1.2em;
        color: #F6E3D3;
        margin: 0 auto 2em;
    }
    .suscripcion__sus{
        padding: 9px 25px;
        background-color: transparent;
        box-sizing: border-box;
        border: 0.1em solid #F6E3D3;
        border-radius: 0.7em;
        font-weight: 400;
        transition: all 0.3s ease 0s;
        margin-left: 1em;
        cursor: pointer;
        color: #F6E3D3;
        .suscripcion__sus:hover{
            border:0.1em solid #F36A46;
            background-color: #F6E3D3;
            color: #F36A46;
        }
    }
}

.boxficcion2{
    align-items: center;
    width: 80%;
    margin: 2rem auto 0px;
    display: grid;
    grid-template-areas:
        ". img"
        "mes img"
        "titulo img"
        "texto img"
        ". img";
    column-gap: 3rem;
    .boxficcion__photo{
        display: inline-block;
        grid-area: img;
        height: 90%;
    }
    .boxficcion__mes{
        color: #F36A46;
        text-decoration: overline solid #F36A46 3px;
        font-family: 'Elephant';
        font-style: normal;
        font-weight: 400;
        font-size: 1.4em;
        grid-area: mes;
    }
     .boxficcion__titulo{
        grid-area: titulo;
     }
     .boxficcion__texto{
        grid-area: texto;
    }
}
.boxficcion3{
    align-items: center;
    width: 80%;
    margin: 2rem auto 0px;
    display: grid;
    grid-template-areas:
        "img ."
        "img mes"
        "img titulo"
        "img texto"
        "img .";
    column-gap: 3rem;
    .boxficcion__photo{
        display: inline-block;
        grid-area: img;
        height: 90%;
    }
    .boxficcion__mes{
        color: #F36A46;
        text-decoration: overline solid #F36A46 3px;
        font-family: 'Elephant';
        font-style: normal;
        font-weight: 400;
        font-size: 1.4em;
        grid-area: mes;
    }
     .boxficcion__titulo{
        grid-area: titulo;
     }
     .boxficcion__texto{
        grid-area: texto;
    }
}








