.intror{
    padding-left: 7em;
    margin-top: 9em;
    padding-right: 7em;
    text-align: center;
}

.regbox{
    align-items: center;
    padding-left: 7em;
    padding-right: 7em;
    .regbox__photo{
        margin-top: 5em;
        width: 40%;
        display: inline-block;
    }
    .regbox__form{
        display: inline-block;
        .regbox__text{
            width: 45%;
            margin: auto 0px;
            padding-left: 3em;
            display: inline-block;
            position: absolute;
            bottom: 10%;
        }
        .regbox__buttons{
            display: inline-block;
            padding-left: 2em;
            position: absolute;
            bottom: 2%;
            .landing__cta{     
                padding: 9px 25px;
                cursor: pointer;
            }
        }
    }
    .reggift__form{
        display: inline-block;
        width: 45%;
        .reggift__text{
            margin: auto 0px;
            padding-right: 3em;
            display: inline-block;
        }
        .reggift__buttons{
            display: inline-block;
            .reggift__cta{
                padding: 9px 25px;
                background-color: #F36A46;
                border: none;
                border-radius: 0.7em;
                font-weight: 400;
                transition: all 0.3s ease 0s;
                cursor: pointer;
                color: #F6E3D3;
            }
        }
    }
    .regbox__photo{
        margin-top: 5em;
        width: 40%;
        display: inline-block;
    }
}







.reggift__cta:hover{
    background-color: #e16141;
}