@media screen and (max-width: 576px){
    h2{
        font-size: 30px;
    }
    /*---HEADER---*/
    header{
        width: 84%;
        height: 2em;
        display: flex;
        align-items: center;
        margin-bottom: 2em;
        justify-content:flex-end;
        position: fixed;
        z-index: 10;
        background-color: #F6E3D3;
        top: 0px;
        padding: 1.7em 2em 1.7em;
    }
    .menu{
        display: none;
        .menu__item{
            display: none;
        }
    } 
    .menu__cta{
        display: none;
    }
     .menu__hambur{ 
        display: flex !important;
    }
    /*---HOME (LANDING)---*/
    .landing{
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 5em;
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "botones"
        "img";
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 2em;
        row-gap: 1em;
        text-align: center;
        .landing__title{
            margin-bottom: 0;
            text-align: center;
        }
        .landing__buttons{
            margin: 0 auto;
            text-align: center;
         }
    }
    /*---HOME (COLECCIONES)---*/
    .colecciones{
        margin: 2em auto 0px;
        padding: 0px 0px;
        align-items: center;
        .colecciones__cards{
            .colecciones__1, .colecciones__2, .colecciones__3{
                background-color: #f5e7dc;
                box-shadow: 6px 9px 11px rgba(0, 0, 0, 0.12);
                border-radius: 13px;
                height: auto;
                padding: 2rem;
                width: 75%;
                .colecciones__card--titulo{
                    font-family: 'Elephant';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.3em;
                    color: #000000;
                    text-decoration: none;
                }
                .colecciones__informacion{
                    margin-top: 0.5rem;
                }
                .colecciones__cta{
                    margin: 2rem 32% 0px;
                    align-items: center;
                }
            }
        }
    }
    /*---HOME (EXPERIENCIA)---*/
    .experiencia{
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "img";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        row-gap: 2em;
        .experiencia__photo{
            width: 100%;
            box-sizing: border-box;
        }
        .experiencia__titulo{
            text-align: center;
            padding-right: 0%;
        }
        .experiencia__texto{
            margin: auto 0px;
            width: auto;
            padding-right: 0%;
            text-align: center;
        }
    }
    /*---HOME (PLAN IDEAL)---*/
    .plan{
        padding: 2em 2em;
        .plan__text{
            width: 100%;
        }
        .plan__titulo{
            font-size: 30px;
        }
    }
    /*---HOME (REGALOS)---*/
    .regala{
        margin:3em 2em;
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "botones"
        "img";
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        row-gap: 2em;
        text-align: center;
    }
    /*---REGALA (INTRO)---*/
    .intror{
        margin: 7rem auto 0px;
        width: 84%;
        text-align: center;
        padding: 0%;
    }
    /*---REGALA (REGBOX)---*/
    .regbox{
        align-items: center;
        width: 80%;
        margin: 5rem auto 0px;
        display: grid;
        grid-template-areas:
            "titulo"
            "texto"
            "boton"
            "img";
        text-align: center;
        .regbox__buttons{
            margin-bottom: 2rem;
        }
        .regbox__photo{
            height: 75%;
            width: auto;
        }
    }
    /*---REGALA (REGGIFT)---*/
    .reggift{
        align-items: center;
        width: 80%;
        display: grid;
        grid-template-areas:
            "titulo"
            "texto"
            "boton"
            "img";
        margin: 5rem auto 0px;
        text-align: center;
        .reggift__photo{
            height: 57%;
        }
    }
    /*---FUNCIONAMIENTO (FUNCION)---*/
    .funcion{
        margin: 7rem auto 0px;
        width: 80%;
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "img ";
        grid-template-columns:100%;
        grid-template-rows: auto auto 1fr;
        align-items: center;
        text-align: center;
        .funcion__photo{
            width: auto;
            height: 30rem;
            grid-area: img;
            margin-bottom: 2rem;
        }
    }
    /*---FUNCIONAMIENTO (REGALOS)---*/
    .regalos{
        align-items: center;
        width: 80%;
        margin: 4rem auto 0%;
        padding:0%;
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "img";
        grid-template-columns: auto;
        grid-template-rows:auto auto auto;
        text-align: center;
        .regalos__text{
            margin-bottom: 2rem;
        }
    }

    /*---FUNCIONAMIENTO (ARTISTAS)---*/
    .artistas{  
        align-items: center;
        margin: 5em auto 0%;
        background-color: #F36A46;
        width: 100%;
        padding: 2rem 0%;
        .artistas__texto{
            width: 84%;
            margin: 3rem auto;
        }
        .artistas__contenedor{
            width: 84%;
            margin: 3rem auto;
        }
        .artistas__card{
            width: 84%;
        }
    }
 /*---COLECCIONES (INTRO)---*/
    .introc{
        margin: 7rem auto 0px;
        width: 84%;
        text-align: center;
        padding: 0%;
    }

    /*---COLECCIONES (LISTADO)---*/
    .puntos{
        align-items: center;
        width: 84%;
        display: grid;
        grid-template-areas:
            "img"
            "lista";
        margin: 5rem auto 0;
        .puntos__photo{
            display: inline-block;
            grid-area: img;
            height: 80%;
        }
        .puntos__importantes{
            .puntos__lista{
                .puntos__lista2{
                    .puntos__item{
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
    /*---COLECCIONES (FORM)---*/
    .form{
        margin: 5rem auto 0px;
        align-content: center;
        width: 84%;
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "listado";
        grid-template-columns: auto;
        grid-template-rows:auto auto auto;
        .form__titulo{
            grid-area: titulo;
            margin-bottom: 1.5rem;
            text-align: center;
        }
        .form__texto{
            text-align: center;   
        }
    }
/*---COLECCIONES (box anterior)---*/
    


    /*---FOOTER---*/
    /*.footer{
        display: grid;
        margin-top: 4em;
        padding: 1em 2em;
        background-color: #F36A46;
        grid-template-areas: "logo logo logo"
        "col1 col2 col3"
        "col1 col2 col3"
        "col1 col2 col3";
    }*/
}