@media screen and (max-width: 576px){
    h2{
        font-size: 30px;
    }
    /*---HEADER---*/
    header{
        width: 84%;
        height: 2em;
        display: flex;
        align-items: center;
        margin-bottom: 2em;
        justify-content:flex-end;
        position: fixed;
        z-index: 10;
        background-color: #F6E3D3;
        top: 0px;
        padding: 1.7em 2em 1.7em;
    }
    .menu{
        display: none;
        .menu__item{
            display: none;
        }
    } 
    .menu__cta{
        display: none;
    }
     .menu__hambur{ 
        display: flex !important;
    }
    /*---HOME (LANDING)---*/
    .landing{
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 5em;
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "botones"
        "img";
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 2em;
        row-gap: 1em;
        text-align: center;
        .landing__title{
            margin-bottom: 0;
            text-align: center;
        }
        .landing__buttons{
            margin: 0 auto;
            text-align: center;
         }
    }
    /*---HOME (COLECCIONES)---*/
    .colecciones{
        margin: 2em auto 0px;
        padding: 0px 0px;
        align-items: center;
        .colecciones__cards{
            .colecciones__1, .colecciones__2, .colecciones__3{
                background-color: #f5e7dc;
                box-shadow: 6px 9px 11px rgba(0, 0, 0, 0.12);
                border-radius: 13px;
                height: auto;
                padding: 2rem;
                width: 75%;
                .colecciones__card--titulo{
                    font-family: 'Elephant';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.3em;
                    color: #000000;
                    text-decoration: none;
                }
                .colecciones__informacion{
                    margin-top: 0.5rem;
                }
                .colecciones__cta{
                    margin: 2rem 32% 0px;
                    align-items: center;
                }
            }
        }
    }
    /*---HOME (EXPERIENCIA)---*/
    .experiencia{
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "img";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        row-gap: 2em;
        .experiencia__photo{
            width: 100%;
            box-sizing: border-box;
        }
        .experiencia__titulo{
            text-align: center;
            padding-right: 0%;
        }
        .experiencia__texto{
            margin: auto 0px;
            width: auto;
            padding-right: 0%;
            text-align: center;
        }
    }
    /*---HOME (PLAN IDEAL)---*/
    .plan{
        padding: 2em 2em;
        .plan__text{
            width: 100%;
        }
        .plan__titulo{
            font-size: 30px;
        }
    }
    /*---HOME (REGALOS)---*/
    .regala{
        margin:3em 2em;
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "botones"
        "img";
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        row-gap: 2em;
        text-align: center;
    }
    /*---REGALA (INTRO)---*/
    .intror{
        margin: 7rem auto 0px;
        width: 84%;
        text-align: center;
        padding: 0%;
    }
    /*---REGALA (REGBOX)---*/
    .regbox{
        align-items: center;
        width: 80%;
        margin: 5rem auto 0px;
        display: grid;
        grid-template-areas:
            "titulo"
            "texto"
            "boton"
            "img";
        text-align: center;
        .regbox__buttons{
            margin-bottom: 2rem;
        }
        .regbox__photo{
            height: 75%;
            width: auto;
        }
    }
    /*---REGALA (REGGIFT)---*/
    .reggift{
        align-items: center;
        width: 80%;
        display: grid;
        grid-template-areas:
            "titulo"
            "texto"
            "boton"
            "img";
        margin: 5rem auto 0px;
        text-align: center;
        .reggift__photo{
            height: 57%;
        }
    }
    /*---FUNCIONAMIENTO (FUNCION)---*/
    .funcion{
        margin: 7rem auto 0px;
        width: 80%;
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "img ";
        grid-template-columns:100%;
        grid-template-rows: auto auto 1fr;
        align-items: center;
        text-align: center;
        .funcion__photo{
            width: auto;
            height: 30rem;
            grid-area: img;
            margin-bottom: 2rem;
        }
    }
    /*---FUNCIONAMIENTO (REGALOS)---*/
    .regalos{
        align-items: center;
        width: 80%;
        margin: 4rem auto 0%;
        padding:0%;
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "img";
        grid-template-columns: auto;
        grid-template-rows:auto auto auto;
        text-align: center;
        .regalos__text{
            margin-bottom: 2rem;
        }
    }

    /*---FUNCIONAMIENTO (ARTISTAS)---*/
    .artistas{  
        align-items: center;
        margin: 5em auto 0%;
        background-color: #F36A46;
        width: 100%;
        padding: 2rem 0%;
        .artistas__texto{
            width: 84%;
            margin: 3rem auto;
        }
        .artistas__contenedor{
            width: 84%;
            margin: 3rem auto;
            .artistas__button{
                display: none;
            }
            .artistas__cards{
                .artistas__card{
                    width: 84%;
                }
            }
        }



        .artistas{  
            margin-top: 5em;
            padding-left: 7em;
            padding-right: 6em;
            background-color: #F36A46;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        .artistas__titulo{
            color: #F6E3D3;
            font-size: 34px;
            text-align: center;
        }
        .artistas__text{
            width: 70%;
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 300;
            font-size: 1.2em;
            color: #F6E3D3;
            margin: 0 auto 2em;
            text-align: center;
        }
        
        .artistas__button{
            text-decoration: none;
            background-color: transparent;
            border: none;
            display: inline-block;
        }
        .artistas__arrow{
            display: inline-block;
        }
        
        .artistas__cards{
            display: inline;
        }
        
        .artistas__card{
            display: inline-block;
            background-color: #F6E3D3;
            width: 24%;
            padding: 1.5em;
            margin: 1em;
            border-radius: 13px;
        }
        .artistas__img{
            width: 100%;
            margin-bottom: 1em;
        }
        .artistas__card--titulo{
            font-family: 'Elephant';
            font-style: normal;
            font-size: 1.5em;
            line-height: 29px;
            color: #000000;
        }
        .artistas__card--text{
            margin-top: 0.5em;
            display: block;
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 300;
            font-size: 1em;
            color: #000000;
        }
    }
 /*---COLECCIONES (INTRO)---*/
    .introc{
        margin: 7rem auto 0px;
        width: 84%;
        text-align: center;
        padding: 0%;
    }

    /*---COLECCIONES (LISTADO)---*/
    .puntos{
        align-items: center;
        width: 84%;
        display: grid;
        grid-template-areas:
            "img"
            "lista";
        margin: 5rem auto 0;
        .puntos__photo{
            display: inline-block;
            grid-area: img;
            height: 73%;
        }
        .puntos__importantes{
            .puntos__lista{
                .puntos__lista2{
                    .puntos__item{
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
    /*---COLECCIONES (FORM)---*/
    .form{
        margin: 5rem auto 0px;
        align-content: center;
        width: 84%;
        display: grid;
        grid-template-areas: 
        "titulo"
        "texto"
        "listado";
        grid-template-columns: auto;
        grid-template-rows:auto auto auto;
        .form__titulo{
            grid-area: titulo;
            margin-bottom: 1.5rem;
            text-align: center;
        }
        .form__texto{
            text-align: center;   
        }
    }
/*---COLECCIONES (box anterior)---*/
.boxan{  
    align-items: center;
    padding:0%;
    margin: 3em auto;
    background-color: #F6E3D3;
    width: 90%;
    .boxan__cards{
        .boxan__card1, .boxan__card2, .boxan__card3{
            display: inline-block;
            background-color: #f5e7dc;
            width: 80%;
            padding: 1.5em;
            border-radius: 13px;
            box-shadow: 6px 9px 11px rgba(0, 0, 0, 0.12);
        } 
    }
}



.boxan__img{
    width: 100%;
    margin-bottom: 1em;
}
.boxan__card--titulo{
    font-family: 'Elephant';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 29px;
    color: #000000;
}
.boxan__card--text{
    margin-top: 0.5em;
    display: block;
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    color: #000000;
}
    
/*---BOXAN (meses)---*/
.boxficcion, .boxficcion2, .boxficcion3 {
    align-items: center;
    width: 80%;
    margin: 5rem auto 0px;
    display: grid;
    grid-template-areas:
        "mes"
        "titulo"
        "texto"
        "img";
    text-align: center;
    .boxficcion__titulo{
        grid-area: titulo;
        margin-bottom: 1rem;
    }
    .boxficcion__photo{
        height: 75%;
    }
}

/*---BOXAN (suscripcion)---*/

.suscripcion{
    padding:2rem 0%;
    background-color: #F36A46;
    margin: 5em auto 2em;
    width: 100%;
    text-align: center;
    .suscripcion__titulo{
        font-size: 30px;
    }
    .suscripcion__text{
        width: 70%;
        font-family: 'Almarai';
        font-style: normal;
        font-weight: 300;
        font-size: 1.2em;
        color: #F6E3D3;
        margin: 0 auto 2em;
    }
}
    /*---NAV-COLECCIONES---*/
    .colecciones--nav{
        font-size: 1.1em;
        text-align: center;
        .colecciones__ficcion, .colecciones__feminismo, .colecciones__nacional{
            padding: 1.5em;
            .colecciones__ficcion:hover, .colecciones__feminismo:hover, .colecciones__nacional:hover{
                padding: 1.5em;
            }
        }
    }
    
    /*---FOOTER---*/
    .footer{
        display: grid;
        margin-top: 4em;
        padding: 2em 2em;
        background-color: #F36A46;
        grid-template-areas:
            "ia ic"
            "iia iic"
            "ib iiic"
            "iib iiib";
        height: 6em;
        color: #F6E3D3;
        .footer__text {
            font-family: 'Almarai';
            font-style: normal;
            font-weight: 300;
            font-size: 0.9em;
            margin-top: 2.5em;
            color: #F6E3D3;
            text-decoration: none;
            width: 90%;
            grid-column: auto auto auto;
            grid-row: auto auto auto;
            list-style: none;
            padding: 0%;
            column-gap: 10px;
            left: 7%;
            position: absolute;
        }
    }
}