*{
    box-sizing: unset;
}

body{
    margin-left: 0%;
    margin-top: 1.25em;
    background-color: #F6E3D3;
}
li, button {
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-decoration: none;
    color: #000000;
}
ul{
    margin-bottom: 0%;
    margin-top: 0%;
}
a{
    text-decoration: none;
    color: #000000;
}

h2{
    font-family: 'Elephant';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}
h3{
    font-family: 'Elephant';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #000000;
}
.text--grande{
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #000000;
}

@media screen and (max-width: 479px){
    h2{
        font-size: 30px;
    }
    .text--grande{
        font-size: 1.1em;
        text-align: center;
        padding-top: 0px;
        margin-top: 0;
    }
}