body{
    margin-left: 0%;
    margin-top: 1.25em;
    background-color: #F6E3D3;
}
li, button {
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-decoration: none;
    color: #000000;
}

h2{
    font-family: 'Elephant';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}
h3{
    font-family: 'Elephant';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #000000;
}